*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}
.htmlworkshop{
  justify-content:center;
  align-items:center;
  background-image:url("btn8_back.jpg");
  background-position:right;
  background-clip:text;
  color:transparent;
  margin:10vh 20vh 5vh 20vh;
  padding:28px;
  font-family:'Courier New', Courier, monospace;
  font-weight:900;
  font-size:x-large;
  border:5px solid transparent ;
  border-image:url("btn6_back.webp") 40 round;
  border-radius:20px;
}
h4{
  color:black;
}
section h5,ol,blockquote{
  color:snow;
  font-size:x-large;
  
}
ul,ol{
  list-style-type:none;
}

.firstlink{
  margin-top:19px;
  font-size:x-large;
  link-visited:{ 
  color:azure;}

}
html, body{
   
   justify-self: center;
   
  /* padding:30px; */
  /* width:100%;
  height:100%; */
  color:white;
  background-image:url("btn6_back.webp") ;
  width:100vw;
  height:100vh;
  
}
div{
align-content:center;
justify-self:center; 
}

h1{
  background-image: url("snow.jpg");
    background-size:cover;
    background-position:bottom;
    background-clip: text; 
    color: transparent;
    font-size:70px;
    padding:20vh 20vh 5vh 20vh;



}



form{
    width:600px;
    height:350px;
    padding:25px;
    margin-left:120px;
    justify-items:center;
    flex-direction:column;
    flex-wrap:wrap;
    border:5px solid transparent;
    image-orientation:flip;
    border-image:url("btn6_back.webp") 90 round;
    border-radius:170px;
}
.inputs  input{
  justify-items:center;
  padding: 8px;
  margin:3%;
  background-image:url('btn6_back.webp');
  background-position:right;
  width:380px;
  
  border-radius:10px; 
  color:white;
  
}
input,button{
  color:azure;
}
/* .btn{
  align-items:center;
} */
.btn {
  justify-items:center;
  margin:10% 0 10%  15%;
  width:350px;
  height:40px;
  padding:10px;
  border-radius:10px;
  background-image:url('btn6_back.webp');
  background-position:right;
}

